@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
  background: transparent; /* Optional: just makes scrollbar fully transparent */
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.cursive-text {
  font-family: 'Pacifico', cursive;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.navbar-logo {
  height: 40px; /* Adjust this value as needed */
  width: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Ensure it doesn't exceed the navbar height */
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Ensure the navbar itself has a fixed height */
.navbar {
  height: 50px; /* This should be adjusted based on your design needs */
  display: flex;
  align-items: center; /* This will vertically center the contents of the navbar */
}
